{% extends "app_2/layout/base.html" %}
{% block content %}
<h1 class="tittle">Profile</h1>
<hr/>
<div class="navbar">
	<a class="nav-link" href="/app-4/">Stat</a>
	<a class="nav-link" href="/app-3/">Friends</a>
	<a class="nav-link" href="/app-2/">Profile</a>
	<a class="nav-link" href="/app-1/">Status</a>
</div>

<section name="bio">
	<center>
		<div class="container">
			<center>
				<img class="img-circle" src={{data.imageurl}} width="250" height="250">
			</center>
			<h3 align="center"> {{data.name}} </h3>
			<table align="center" style="text-align: justify">
				<tr>
					<td> Birthday </td>
					<td> {{data.birthday}} </td>
				</tr>
				<tr>
					<td> Gender </td>
					<td> {{data.gender}} </td>
				</tr>
				<tr>
					<td> Expertise </td>
					<td>
						<ul class="allTags">
							{% for exp in expertise %}
								<li>
									<a class="tag">{{exp}}</a>
								</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
				<tr>
					<td> Description </td>
					<td> {{data.description}} </td>
				</tr>
				<tr>
					<td> Email </td>
					<td> {{data.email}} </td>
				</tr>
		</div>
	</center>
</section>

<footer>
	<p class="footer">&copy; made with love by KELOMPOK 3</p>
</footer>
{% endblock %}
