
{% load staticfiles %}
{% load static %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app_1.css' %}" />
</head>

{% block content %}
<div class="navbar">
	<a class="nav-link" href="/app-4/">Stat</a>
	<a class="nav-link" href="/app-3/">Friends</a>
	<a class="nav-link" href="/app-2/">Profile</a>
	<a class="nav-link" href="/app-1/">Status</a>
</div>


<div class="left-content">
	<section name="list-profile" id="list-profile">
		<img src="http://www.mediafire.com/convkey/db67/bmkz78dok9w1ww6zg.jpg" id="img-left"  />
		<p id="tulisan7">
			<b> Rafif Iqbal Shaputra</b>
		</p>

		<p id="tulisan8">
		<b><img src="https://cdn3.iconfinder.com/data/icons/line-icons-medium-version/64/comment-512.png" class="icon_post"/> {{count_status}}<br><br>
		<img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/friends-512.png" class="icon_post"/>  {{friend}} <b><br>
		</p>
		<p id="data-profile">
		
		{% if data %}

					{% for i in data %}
						{{i.expertise}}<br>
						
						{{i.email}}<br>
						
						{{i.birthday}}<br>
						{{i.gender}}<br>
					{% endfor %}



				{% else %}

					
				{% endif %}
		
		</p>

	</section>
	<br>



</div>

<div class="right-content">

	<section id="belakang">
		<img src="http://www.mediafire.com/convkey/db67/bmkz78dok9w1ww6zg.jpg" class="img"  />
		<p class="tulisan4 	">
			<b> Rafif Iqbal Shaputra</b>
		</p>

		<p class="tulisan5">
		<b><img src="https://cdn3.iconfinder.com/data/icons/line-icons-medium-version/64/comment-512.png" class="icon_post"\>{{count_status}}<br><br>
		<img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/friends-512.png" class="icon_post"/>  {{friend}} <b>

		</p>

		<section name="input-list" id="input-list">
			<div class="container_1">
				<div style=”text-align:justify;width:75%; background-color:#ff9999; border:1px solid #000099; padding:8px;”>

					<p class="nama" > <b> Whats Happening?</p> </b></div>
					<form id="form" method="POST" action="{% url 'app-1:add_status' %}">
						{% csrf_token %}
						{{ status_form }}
					<input id="submit" type="submit" class="post-button" value="Post">

					</form>

				</div>
		</section>

	</section>

	<section id="belakang_2">
		


		<section name="my-list" id="my-list">
			<section name="tulisan" id="tulisan">
				<p class="tulisan-tulis">
					<b>See All Status</b>
				</p>
			</section>
			<div class="container_2">

				<div class="flex">

				{% if status %}

					{% for data in status %}
					<div class="flex-item">
						<p id="prof" >
							<img src="http://www.mediafire.com/convkey/db67/bmkz78dok9w1ww6zg.jpg" class="img-flex"  />
							<br>Rafif Iqbal Shaputra<br>{{data.created_date}} <hr>
						</p>

						<p id="desc">
							{{data.description}}
						</p>
					 </div>
					 <br>
					{% endfor %}



				{% else %}

					<div class="alert alert-danger text-center">
						<strong>Oops!</strong> Tidak ada data status.
					</div>
				{% endif %}
				</div>

			</div>
		</section>
	</section>

</div>

<div class="right2-content">
	
	

	<section name="list-friend" id="list-friend">
	<p id="tulis">My Friend</p>
	<hr>
	<br>
	<div id=list_nama>
	{% if list_friend %}
		{% for data in list_friend %}

			<tr>
			<li>{{data.name}}<br></li>
			{{data.url}}<br><br>
			</tr>

		{% endfor %}

	{%endif%}

	</div>
	</section>

</div>




<footer>
	<p class="footer">&copy; made with love by KELOMPOK 3</p>
</footer>

{% endblock %}
