{% load static %}

<html lang="en">
  <head>
    <title>app_4 Statistic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app_4.css' %}"

  </head>

  <body>
    <div class="navbar">
      <a class="nav-link" href="/app-4/">Stat</a>
      <a class="nav-link" href="/app-3/">Friends</a>
      <a class="nav-link" href="/app-2/">Profile</a>
      <a class="nav-link" href="/app-1/">Status</a>
    </div>

    <div class="tittle">
      <h1>statistic</h1>
    </div>

    <div class="profile">
      <img src="http://www.mediafire.com/convkey/db67/bmkz78dok9w1ww6zg.jpg">
    </div>

    <div class="name">
      <h1>{{author}}</h1>
    </div>

    <div class="data">
      <h1>Friends</h1>
      <p>{{friends}} people</p>
      <h1>Feeds</h1>
      <p>{{feeds}} feeds</p>
      <h1>last status</h1>
    </div>

    <div class= "mini_profile">
        <h1>{{author}}<h1>
        <p class="status">{{last.description}}</p>
        <p>{{last.created_date}}</p>
    </div>

    <footer>
      <p class="footer">&copy; made with love by KELOMPOK 3</p>
    </footer>

  </body>

</html>
