	body{
	background-color:#FFEFD5;

	}	

	.left-content{	
		width:25%;
		height:700px;
		float:left;
		margin-left:180px;
		margin-top:35px;
	}

	.right-content{
		
		width:60%;
		
		float:left;
		
	}
	
	.right2-content{
		float:left;
		height:700px;
		width:22%;
		margin-right:20px;
	
	}

	.status-form-textarea{
		width:500px;
		height:100px;
	}

	.tulisan4{
		position: absolute ;
			margin-top: -9999px ;
			margin-left: -9999px ;
	}

	.tulisan5{
		position: absolute ;
			margin-top: -9999px ;
			margin-left: -9999px ;
	}
	
	.img{
	position: absolute ;
			margin-top: -9999px ;
			margin-left: -9999px ;float:left;
	padding-top:10px;
	padding-right:5px;
	padding-left:15px;
	width:68px;
	height:68px;
	}
	
	.img-flex{
	float:left; 
	padding-top:10px;
	padding-right:5px;
	padding-left:15px;
	width:55;
	height:55;
	}
	
	.post-button{
	
		margin-left:210px;
		margin-top:10px;
		background:#2C97DF;
		color:white;
		border-top:0;
		border-left:0;
		border-right:0;
		border-bottom:5px solid #2A80B9;
		padding:10px 20px;
		text-decoration:none;
		font-family:sans-serif;
		font-size:11pt;
		text-decoration:bold;
	}
	
	.flex{
		
		
		padding-left:7px;
		padding-right:7px;
		padding-top:18px;
		padding-bottom:5px;
	}
	
	.flex-item{
		width:550px;
		background-color:#F5F5F5;
		padding-left:10px;
		padding-right:10px;
		padding-bottom:20px;
		
		word-wrap:break-word;
		border :3px solid white;
		border-radius:6px;
	}
	
	.flex-item-tem{
		
		word-wrap:break-word;
		border-bottom:4px solid black;
		border-radius: 10px;
		margin-bottom:20px;
		padding-bottom:20px;
		padding-left:30px;
		padding-right:10px;
		border-right:4px solid black;
		background-color:white;
		border-left: 4px solid black;
	}
	.tulisan-tulis{
		margin-left:155px;
		font-family:sans-serif;
		font-size:24pt;
		text-decoration:bold;
	}
	.img-prof{
	padding-top:25px;
	padding-left:50px;
		width:165px;
		height:165px;
		
	}
	
	.tulisan2{
		margin-left:35px;
		font-family:sans-serif;
		font-size:16pt;
		
	}
	
	.tulisan3{
		margin-left:80px;
		font-family:sans-serif;
		font-size:12pt;
		
	}
	
	.nama{		
			padding-top:15px;
			margin-left:10px;
			
			font-size:16pt;
			
	}
	
	
	
	

	#input-list{
		
		margin-top:50px;
		background: linear-gradient(to bottom right, #606062, #393939);
		color:white;
		border: 4px solid rgb(135, 206, 235, 0.6);
		border-radius: 10px ;
		width:600px;
		
	}
	
	#tulisan{
		margin-left:30px;
		color:white;
		background-color:gray;
		border: 4px solid rgb(135, 206, 235, 0.6);
		border-radius: 5px;
		width:550px;
		
		
	}
	
	#my-list{
		
		width:450px;
		padding-right:5px;
		padding-left:5px;
			}
	
	#form{
		
		padding-top:10px;
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
		margin-left:40px;
		margin-right:10px;
		margin-top:20px;
	}
	
	
	
	#list-profile{
		border-bottom:5px solid white;
	border-radius:6px;
	margin-top:10px;
	margin-left:100px;
		background-color:white;
		width:350px;
		height:350px;
	}
	
	#list-friend{
		border-bottom:5px solid white;
	border-radius:6px; 
	margin-left:100px;
		background-color:white;
		width:350px;
		
		
	}
	
	#tulis{
		padding-top:10px;
		margin-left:80px;
		font-family:Courier;
		font-size:24pt;
	}
	
	
	#list_nama{
		font-size:20px;
		font-family:Courier;
		padding-left:5px;
		padding-right:5px;
		margin-left:10px;
	}
	
	
	#list-friend2{
	margin-top:10px;
		margin-right:35px;
		background-color:white;
		width:300px;
		height:600px;
	}
	
	
	#my-list{
	
	}

	#img-left{
		width:180px;
		height:180px;
		margin-left:80px;
		margin-top:20px;

	}
	
	.icon_post{
		width:30px;
		height:30px;
		padding-right:20px;
		float:left;
	}

	#tulisan7{
		margin-top:10px;
		position:relative;
		font-size:16pt;
		font-family:sans-serif;
		margin-left:70px;
		color:gray;

	}

	#tulisan8{
		margin-left:130px;
		font-size:14pt;

	}

	
	
	
	#prof{
		
		font-size:16pt;
	}
	
	#desc{
	font-size:13pt; font-family:Courier; text-align:justify;	
	}
	
	
	
	@media only screen and (max-width:768px) {
		.left-content {
			
		
			position: absolute ;
			top: -9999px ;
			left: -9999px ;
		 
		}
	
		.right-content{
			width :auto;
			margin-left:0px;
			float:none;
			
	}
	
		#input-list{
		
			width:320px;
			margin-left:12px;
			margin-right:0px;
		}
		

		.img{
		margin-top:5px;
		margin-left:75px;
		width:150px;
		height:150px;
		position:relative;
			padding-bottom:5px;
		}
		
		
		
		.nama{
			position: relative ;
			top: 18px ;
			left: 5px ;
		}
		
		.post-button{
			margin-left:110px;
			margin-bottom:10px;
		}
		
		.flex-item{
			width:290px;
			
		}
		
		.tulisan-tulis{
		margin-left:90px;
		font-family:sans-serif;
		font-size:16pt;
		text-decoration:bold;
	}
	
	.tulisan4{
	margin-top:180px;
	position:relative;
	font-size:16pt;
	font-family:sans-serif;
	margin-left:70px;
	color:gray;
	}
	
	
	
	.tulisan5{
	position:relative;
	font-size:13pt;
	font-family:sans-serif;
	margin-left:130px;
	margin-top:10px;
	color:gray;
	}
		

	.status-form-textarea{
		width:280px;
		height:100px;

	}
		
		#tulisan{
			margin-left:8px;
			margin-right:0px;
			width:320px;
		}
		
			#form{
		width:310px;
		padding-top:5px;
		padding-left:10 px;
		padding-right:10px;
		padding-bottom:0px;
		margin-left:10px;
		margin-top:0px;
		}
	
	#my-list{
		margin-right:0px;
		margin-left:8px;
		width:320px;
		margin-bottom:10px;
	}
	
	#belakang{
	width:100%;
	
	background-color:#FFEFD5;
	
	padding-bottom:20px;
	padding-top:2px;
	}
	
	#belakang_2{
	background-color:#B0E0E6	;
		padding-bottom:20px;
	padding-top:5px;
	
	}
	#desc{
		font-size:10pt;
		font-family:Courier;
		
	}
	
	#prof{
		font-size:10pt;
		font-family:Courier;
		
	}
	
	
	}