body {
  background-color: #E6E6FA;
  font-family: Poppins;
  font-size: 14px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2.002px;
  margin-bottom: 150px;
}

h1 {
  font-weight: normal;
}


.navbar {
  overflow: hidden;
  background-color: #E6E6FA;
  position: fixed;
  top: 0;
  width: 100%;

}

.navbar a {
  font-family: Poppins;
  font-size: 14px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2.002px;
  padding-top: 25px;
  padding-right: 83px;
  text-decoration: none;
  float: right;
  display: block;
  align-content: center;

}

.navbar a:hover {
  color: white;
}

.tittle {
  font-size: 12px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 50px;

}


.profile img {
  border-radius: 100%;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  display: block;
  margin: auto;
}

.mini_profile {
  text-align: center;
}

.mini_profile h1 {
  font-family: Raleway;
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
}

.mini_profile p {
  font-family: Poppins;
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 50;
  font-size: 14px;
  margin-top: 20px;
}

.name {
  font-family: Raleway;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bolder;
  display: block;

}

.name h1 {
    font-weight: bold;
}

.data {
  text-align: center;
}

.data h1 {
  font-size: 20px;
  margin-top: 5px;
  padding-top: 5px;
  border-bottom: 1px solid white;
  width: 20%;
  transform: translateX(200%);
  text-align: center;
  padding-bottom: 5px;

}

.data p {
  font-size: 20px;
  margin-bottom: 50px;
}

.status {
  margin-left: 400px;
  margin-right: 400px;
}

.footer {
  background-color: #E6E6FA;
  position: fixed;
  bottom: -2%;
  width: 100%;
  height: 3rem;
  margin-top: 5rem;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  font-weight: lighter;
}
