{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %} Profile {% endblock %}
    </title>
</style>
<style>
	h1, h3, td {
		font-family: "Calibri";
	}
	h1 a {
		color: #000000;
		text-decoration: none;
	}
	hr {
		border: 1px transparent;
	}
	td {
		vertical-align: top;
		max-width: 70%;
		word-wrap: break-word;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 8px;
	}

	body {
	  background-color: #E6E6FA;
	  font-family: Poppins;
	  color: gray;
		margin-top: 100px;
	  letter-spacing: 2.002px;
	  margin-bottom: 150px;
	}


	.navbar {
	  overflow: hidden;
	  background-color: #E6E6FA;
	  position: fixed;
	  top: 0;
	  width: 100%;

	}

	.navbar a {
	  font-family: Poppins;
	  font-size: 14px;
	  color: gray;
	  text-transform: uppercase;
	  letter-spacing: 2.002px;
	  padding-top: 25px;
	  padding-right: 83px;
	  text-decoration: none;
	  float: right;
	  display: block;


	}

	.navbar a:hover {
	  color: white;
	}

	.footer {
	  background-color: #E6E6FA;
	  position: fixed;
	  bottom: -2%;
	  width: 100%;
	  height: 3rem;
	  margin-top: 5rem;
	  padding-top: 20px;
	  text-align: center;
	  font-size: 14px;
	  text-transform: none;
	  font-weight: lighter;
		transform: translateX(-26.5%);
	}

	.allTags {
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
	.tags li {
		float: left;
	}
	.tag {
		background: #eeeeee;
		border-radius: 10px;
		display: inline-block;
		height: 26px;
		line-height: 26px;
		padding: 0 20px 0 23px;
		position: relative;
		margin: 0 10px 5px 0;
		text-decoration: none;
		-webkit-transition: color 0.2s;
	}
	.tag:hover {
		background-color: #3a5fff;
		color: white;
	}
	.tag:hover::after {
		border-left-color: #3a5fff;
	}
	.img-circle {
		border-radius : 50%;
	}
	.container {
		border-radius: 45px;
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
		width: 80%;
		background: #fff;
	}

	.tittle {
		text-align: center;
	}

</style>
<body style="background-color: #E6E6FA">
	{% block content %}
		<!-- content goes here -->
	{% endblock %}
</body>
</html>
